<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andreas Siegrist</string>
	<key>Builder Version</key>
	<string>12603.3.8</string>
	<key>CFBundleDisplayName</key>
	<string>FuriganaHide</string>
	<key>CFBundleIdentifier</key>
	<string>com.andreassiegrist.furiganahide</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>FuriganaHideMenu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Checked State</key>
						<integer>0</integer>
						<key>Identifier</key>
						<string>disableGlobally</string>
						<key>Title</key>
						<string>Disable FuriganaHide globally</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<true/>
						<key>Identifier</key>
						<string>disableForDomain</string>
						<key>Title</key>
						<string>Disable FuriganaHide for current Domain</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>hideFuriganaToolbar</string>
				<key>Image</key>
				<string>kana.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>FuriganaHide</string>
				<key>Menu</key>
				<string>FuriganaHideMenu</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>local.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>7TJ7L27T2K</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
